MONGO_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
OBJECT_SPACE_KEY=
OBJECT_SECRET_KEY=
OBJECT_SPACE_ENDPOINT
OBJECT_BUCKET_NAME=


QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
QSTASH_TOKEN=

JWT_SECRET=
CRYPTO_KEY=
CRYPTO_IV=

EMAIL_PASSWORD=
FROM_EMAIL=


RAZORPAY_KEY_ID=
RAZORPAY_SECRET_KEY=
RAZORPAY_WEBHOOK_SECRET=
